<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.springboot.mapper.PicSetMapper">
  <resultMap id="BaseResultMap" type="com.graduation.springboot.bean.PicSet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="swiper1" jdbcType="VARCHAR" property="swiper1" />
    <result column="swiper2" jdbcType="VARCHAR" property="swiper2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, swiper1, swiper2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pic_set
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pic_set
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.graduation.springboot.bean.PicSet">
    insert into pic_set (id, swiper1, swiper2
      )
    values (#{id,jdbcType=INTEGER}, #{swiper1,jdbcType=VARCHAR}, #{swiper2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.springboot.bean.PicSet">
    insert into pic_set
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="swiper1 != null">
        swiper1,
      </if>
      <if test="swiper2 != null">
        swiper2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="swiper1 != null">
        #{swiper1,jdbcType=VARCHAR},
      </if>
      <if test="swiper2 != null">
        #{swiper2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.springboot.bean.PicSet">
    update pic_set
    <set>
      <if test="swiper1 != null">
        swiper1 = #{swiper1,jdbcType=VARCHAR},
      </if>
      <if test="swiper2 != null">
        swiper2 = #{swiper2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.springboot.bean.PicSet">
    update pic_set
    set swiper1 = #{swiper1,jdbcType=VARCHAR},
      swiper2 = #{swiper2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.graduation.springboot.bean.PicSet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="swiper1" jdbcType="VARCHAR" property="swiper1" />
    <result column="swiper2" jdbcType="VARCHAR" property="swiper2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, swiper1, swiper2
  </sql>
  <select id="selectByExample" parameterType="com.graduation.springboot.bean.PicSetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pic_set
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pic_set
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pic_set
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduation.springboot.bean.PicSetExample">
    delete from pic_set
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduation.springboot.bean.PicSet">
    insert into pic_set (id, swiper1, swiper2
      )
    values (#{id,jdbcType=INTEGER}, #{swiper1,jdbcType=VARCHAR}, #{swiper2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.springboot.bean.PicSet">
    insert into pic_set
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="swiper1 != null">
        swiper1,
      </if>
      <if test="swiper2 != null">
        swiper2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="swiper1 != null">
        #{swiper1,jdbcType=VARCHAR},
      </if>
      <if test="swiper2 != null">
        #{swiper2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduation.springboot.bean.PicSetExample" resultType="java.lang.Integer">
    select count(*) from pic_set
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pic_set
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.swiper1 != null">
        swiper1 = #{record.swiper1,jdbcType=VARCHAR},
      </if>
      <if test="record.swiper2 != null">
        swiper2 = #{record.swiper2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pic_set
    set id = #{record.id,jdbcType=INTEGER},
      swiper1 = #{record.swiper1,jdbcType=VARCHAR},
      swiper2 = #{record.swiper2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.springboot.bean.PicSet">
    update pic_set
    <set>
      <if test="swiper1 != null">
        swiper1 = #{swiper1,jdbcType=VARCHAR},
      </if>
      <if test="swiper2 != null">
        swiper2 = #{swiper2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.springboot.bean.PicSet">
    update pic_set
    set swiper1 = #{swiper1,jdbcType=VARCHAR},
      swiper2 = #{swiper2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>